#ContactUs {
  background-color: #333;
  margin: 0 auto;
  height: 80vh;
  width: 80%;
  h1{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.4),
                 0px 4px 1px rgba(0,0,0,0),
                 0px 3px 0px rgba(0,0,0,0.1);
    font-family: walkway_boldregular, sans-serif;
    padding-top: 0.5em;
    }
  @include breakpoint($tablet-portrait){
    margin: 0 auto;
  } //tablet
  @include breakpoint($desktop){
    height: 100vh;
  h1 {
    text-align: left;
    padding-left: 2em;
    font-size: 2rem;
    padding:2em 0 0.5em 0;
  }
  } //desktop
} //contact

 .formblock{
  text-align: center;
  @include breakpoint($desktop) {
    text-align: left;
    padding-left: 13em;
  }
}

#contact {
  width: 100%;
  margin: 0 auto;
  @include breakpoint($desktop){
    width: 50%;
    float: left;
  }
}




#contact .desc h2 {

  font-weight: normal;
  letter-spacing: -0.03em;
  color: #444;
  font-size: 2.4em;
  margin-bottom: 8px;
}

#contact .desc p {
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
  color: #333;
  line-height: 1.3em;
  margin-bottom: 15px;
}

#contact .formblock {
  display: block;
  margin-bottom: 11px;
}

#contact .formblock label {
  font-size: 1.1em;
  display: block;
  font-style: italic;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  color: #eee;
  text-align: center;
  @include breakpoint($desktop){
    text-align: left;
    }
}

#contact .formblock .txt {
  padding: 4px 6px;
  font-size: 1.6em;
  font-family: Roboto, sans-serif;
  color: #666;
  width: 330px;
}

#contact .formblock .txtarea {
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  padding: 3px 5px; color: #666; width: 330px; height: 140px; }

#contact .formblock .error {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  font-style: normal;
  font-family: Roboto, sans-serif;
  color: #9d3131; }

#contact .info {
  text-align: center;
  font-weight: bold; font-size: 1.2em;
  color: #eee;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.4),
               0px 2px 1px rgba(0,0,0,0.1),
               0px 1px 0px rgba(0,0,0,0.1);
  @include breakpoint($desktop){
    text-align: left;
    padding-left: 13em;
  }
}

#contact p.tick {
  font-family: Roboto, sans-serif;
  font-style: italic; font-size: 1.2em;
  color: #3e669c;
}

#contact .subbutton {
  padding: 3px 7px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #eee;
  background-color: $blue;
  margin-left: 11em;
  text-align: center;
  @include breakpoint($tablet-landscape) {
    margin-left: 12em;
  }
}

p.alert {
  color: #9d3131;
  text-align: center;
  @include breakpoint($desktop){
    text-align: left;
    padding-left: 20em;
  }
}
