/* ------------------------------------------
  ==contact
--------------------------------------------- */


.img--split {
  height: 28em;
  background-image: url(../img/mobile-windows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @include breakpoint($tablet){
    height: 40em;
    background-position: center;

  } //tablet

  @include breakpoint($large-desktop) {
    display: none;
  }
}

section#ContactUs {
  background-color: #333;
  height: 36em;
  h1{
    color: #fff;
    font-size: 2.5rem;
    text-align: left;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.4),
                 0px 4px 1px rgba(0,0,0,0),
                 0px 3px 0px rgba(0,0,0,0.1);
    font-family: walkway_boldregular, sans-serif;
    padding-top: 0.5em;
    }
    .address{
      width: 100%;
      text-align: center;
      h5 {
        color: #376ab0;
        font-size: 2rem;
        font-family: walkway_boldregular, sans-serif;
        text-shadow: 0px 0px 1px rgba(0,0,0,0.4),
        0px 4px 1px rgba(0,0,0,0.1),
        0px 3px 0px rgba(0,0,0,0.1);
        padding-top: 1em;
        text-align: left;


      }
      p {
        padding-top: 0.5em;
        text-align: left;
        color: white;
        line-height: 1.5em;
        font-size: 1.3rem;
        font-family: Roboto, sans-serif;
      }
      span {
        color: #376ab0;
        text-shadow: 0px 0px 1px rgba(0,0,0,0.4),
        0px 4px 1px rgba(0,0,0,0.1),
        0px 3px 0px rgba(0,0,0,0.1);
        font-family: sans-serif;
      }
      @include breakpoint($tablet-portrait) {
        text-align: left;
      } //tablet
      @include breakpoint($desktop) {
        h5{
          padding-top: 4em;
        }
      } //desktop
    } //address

    @include breakpoint($desktop) {
        height: 33em;
    }
    @include breakpoint($tablet-landscape){
      width: 100%;
      margin: 0 auto;
  } //tablet
  @include breakpoint($desktop){
      height: 35em;
    .img--right {
      display: none;
    }




  } //desktop
  @include breakpoint ($large-desktop) {
    .img--right {
      display: block;
      height: 35em;
      width: 50%;
      background-image: url(../img/50/kitchen1.jpg);
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-position: center top;
      float: right;
    }
    #contact-form {
    width: 50%;
    float: left
    }
    h1 {
      text-align: left;
      margin-left: 2em;
      font-size: 2rem;
      padding: 0.5em 0 0.5em 0;
    }
  }



} //contact

/* ------------------------------------------
  ==Enquiries
--------------------------------------------- */
section.Enquiries {
  background-color: #333;
  height: 22em;
  float: right;
  position: inherit;
  .address{
    width: 100%;
    text-align: center;
    h5 {
      color: #376ab0;
      font-size: 2rem;
      font-family: walkway_boldregular, sans-serif;
      text-shadow: 0px 0px 1px rgba(0,0,0,0.4),
      0px 4px 1px rgba(0,0,0,0.1),
      0px 3px 0px rgba(0,0,0,0.1);
      padding-top: 1em;
      text-align: center;


    }
    p {
      padding-top: 0.5em;
      text-align: center;
      color: white;
      line-height: 1.5em;
      font-size: 1.3rem;
      font-family: Roboto, sans-serif;
    }
    span {
      color: #376ab0;
      text-shadow: 0px 0px 1px rgba(0,0,0,0.4),
      0px 4px 1px rgba(0,0,0,0.1),
      0px 3px 0px rgba(0,0,0,0.1);
      font-family: sans-serif;
    }
    @include breakpoint($tablet-portrait) {
      text-align: left;
    } //tablet
    @include breakpoint($desktop) {
      h5{
        padding-top: 4em;
      }
    } //desktop
  } //address

  @include breakpoint($desktop) {
      height: 33em;
  }
  @include breakpoint($large-desktop) {
      .img--left {
      display: block;
      height: 33em;
      width: 50%;
      background-image: url(../img/50/entrance.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
      float: left;
    }
 }
}
