/* ------------------------------------------
  ==Home
--------------------------------------------- */

section#home {
  //mobile
  @include breakpoint ($mobile) {
    height: 70vh;
    max-height: auto;
    background-image: url(../img/mobile-home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-color: #464646;
  }

  @include breakpoint ($five) {
    max-height: auto;
    background-image: url(../img/mobile-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

    @include breakpoint ($tablet) {
      height: 80vh;
      background-image: url(../img/home/home-test.jpg);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;




    }


  @include breakpoint ($desktop) {
    height: 90vh;
    background-image: url(../img/home/home-test.jpg);
    background-size: cover;

    background-position: center bottom;
    //background-attachment: fixed;
  } //desktop

  @include breakpoint ($large-desktop){
    height: 100vh;

    background-image: url(../img/home/home-doors.jpg);
    background-size: cover;
    //position: relative;
    background-position: center bottom;
    background-attachment: fixed;
  } //desktop

  @include breakpoint ($retina){
    height: 90vh;
    background-image: url(../img/home/home-doors.jpg);
    background-size: cover;

    //position: relative;
    background-position: center;
    background-attachment: fixed;
  } //desktop
} //home



#slogan {
  //mobile
  top: 15em;
  position: relative;
  height: 5em;
  background-color: rgba(0,0,0,.4);
    @include breakpoint ($tablet){
      background-color: rgba(0,0,0,.4);
      top: 25em;
      height: 6em;

  }

  @include breakpoint ($desktop){
    background-color: rgba(0,0,0,.4);
    top: 25em;
    height: 8em;

  }
}

.tagline {
  color: #fff;
  font-size: 2rem;

  font-family: $primary-font;
  text-align: center;
    @include breakpoint ($tablet){
      font-size: 2.5rem;
    }
  @include breakpoint ($desktop){
    font-size: 3rem;
      top: 20em;
  }
}

.tagline2{
  color: #fff;
  font-size: 0.8rem;
  text-shadow: 0px 6px 3px rgba(0,0,0,0.4),
  0px 8px 1px rgba(0,0,0,0.1),
  0px 6px 0px rgba(0,0,0,0.1);
  font-family: $primary-font;
  text-align: center;
  margin-top: 1em;
    @include breakpoint ($tablet){
      font-size: 1rem;
    }
  @include breakpoint ($desktop){
    font-size: 2rem;
      margin-top: 0em;
  }
}
